spring:
  config:
    activate:
      on-profile: local
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        hbm2ddl:
          auto: create
        dialect: org.hibernate.dialect.H2Dialect
  datasource:
#    jdbc-url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    jdbc-url: jdbc:h2:~/h2;DB_CLOSE_DELAY=-1;AUTO_SERVER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  cloud:
    gcp:
      storage:
        bucket: ${GCP_BUCKET_NAME}
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            redirect-uri: ${KAKAO_REDIRECT_URI}
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            client-name: kakao
          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            redirect-uri: ${NAVER_REDIRECT_URI}
            authorization-grant-type: authorization_code
            scope: name, email, profile_image
            client-name: naver
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: ${GOOGLE_REDIRECT_URI}
            scope: profile, email
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
  data:
    redis:
      host: localhost
      port: 6379

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  neo4j:
    uri: bolt://localhost:7687
    authentication:
      username: neo4j
      password: verysecret

rabbitmq:
  queue.name: sample.queue
  exchange.name: sample.exchange
  routing.key: sample.key


firebase:
  credentials:
    location: ${FIREBASE_KEY_LOCATION}


app-key:
  kakao: 9271001b53c4033a3fda0465978165fb
  google: 418252766261-ns8p3tb4otr34b000gk29rbbl464qsko.apps.googleusercontent.com

jwt:
  secret-key: dGVzdHRlc3R0ZXN0dGVzdHRlc3R0ZXN0dGVzdHRlc3R0ZXN0dGVzdHRlc3R0ZXN0dGVzdHRlc3R0ZXN0dGVzdHRlc3R0ZXN0dGVzdHRlc3R0ZXN0dGVzdHRlc3R0ZXN0

client:
  url: http://localhost:3000
  endpoint: /auth

logging:
  level:
    com.sillim.recordit: debug  # ref: https://blog.datalust.co/choosing-the-right-log-levels/

server:
  tomcat:
    connection-timeout: 60s
    accept-count: 100
    max-connections: 8192
    threads:
      min-spare: 10
      max: 200

rate-limiter:
  capacity: 5
  refill-token-amount: 5
  refill-duration-seconds: 10
  bucket-ttl-seconds: 600

management:
  endpoint:
    health:
      enabled: true
    prometheus:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health, prometheus